body{
  background-image: url("./img/wallpaper.jpg");
  background-position: cover;
  background-attachment: fixed
}

.dev{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.dev_pic{
  max-height: 695px;
}

.machinist{
  margin-top: 10rem;
  margin-bottom: 10rem;
}
i{
  color: white;
}
