

.FacePic{
  border-radius: 75px;
  max-width: 250px;
  height: auto;
}

.seattle{
  background-image: url('./seattle.jpg');
  height: 700px;
  text-align: center;
  color: #FFFFFF;
}

.machining{
  max-height: 400px;
  max-width: 425px;
}

h1{
  margin-top: 0;
  padding-top: 2rem;
}
